<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">Educa.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/privado" routerLinkActive="active">Privado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comunidad" routerLinkActive="active">Comunidad</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Iniciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container p-5" >
<router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Contactate con nosotros:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Educa.com
          </h6>
          <p>
            Ofrece altos estandares de calidad en educación abierta y a distancia, con un gran equipo de 
            profesionales que estaran disponibles para resolver las dudas que se presenten.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Redes
          </h6>
          <p>
            <a href="https://es-la.facebook.com/educabysportis/" class="text-reset">Facebook</a>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </p>
          <p>
            <a href="https://www.instagram.com/educa_rd/?hl=es" class="text-reset">Instagram</a>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contactenos</h6><br>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Bogotá Colombia</p>
          <p>
            <i class="fa fa-envelope me-4"></i>


            educa@edu.com.co
          </p>
          <p><i class="fa fa-phone me-3"></i> + 51 234 567 88</p>
          <p><i class="fa fa-print me-3"></i> + 51 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://www.ibero.edu.co/2019/10/22/bit-un-convenio-que-no-puedes-dejar-pasar/">BIT COLOMBIA</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->