<div class="row" >
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                <form #miFormulario="ngForm" (ngSubmit)="agregarUsuario(miFormulario)">
                    <div class="form-grup">
                        <input 
                        type="text"  
                        name="nombre" 
                        class="form-control" 
                        placeholder="Nombre" 
                        [(ngModel)]="registroServ.datosForm.nombre"
                        required autofocus>
                    </div>
                    <div class="form-grup">
                        <input 
                        type="text" 
                        name="email"
                        class="form-control"
                        placeholder="Email"
                        [(ngModel)]="registroServ.datosForm.email"
                        required autofocus>
                    </div>
                    <div class="form-grup">
                        <input
                        type="password" 
                        name="password"
                        class="form-control"
                        placeholder="Password"
                        [(ngModel)]="registroServ.datosForm.password"
                        required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"> 
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
