<div class="container">

<div class="card text-center">
    <div class="card-header">
    Aprende con nosotos
    </div>
    <div class="card-body">
      <h5 class="card-title">Este curso está pensado para alumnos con cualquier nivel de experiencia. Comienza desde cero y va aumentando el nivel hasta convertirte en programador web.
        Aprenderás las tecnologías más usadas por las empresas y startups, el objetivo principal es que consigas un trabajo de desarrollador/a web al finalizar el curso.</h5>
      <p class="card-text">Siempre estaremos conectados contigo</p>
    </div>
    <div class="card-footer text-muted">
    Inciamos clases Enero 2023
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="../../../assets/img/banner.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: rgb(52, 102, 183);"><b>Privado</b></h5>
      <h5 class="card-title">Módulo exclusivo para estudiantes inscritos al programa, como estudiante podrá repasar los temas vistos y ejecutar las evaluaciones para revisar el nivel de aprendizaje.</h5>
      <p class="card-text"><small class="text-muted">Bogotá, 2022</small></p>
    </div>
   <hr style="color: rgb(76, 74, 74); background-color: black; width:80%">
    <div class="card-body">
      <h5 class="card-title" style="color: red;"><b>Comunidad</b></h5>
      <h5 class="card-title">Es el módulo donde podrás generar preguntas, tanto los especialistas como personas de la comunidad también podrán dar respuesta, una herramienta que servira en el proceso de aprendizaje ya que permite compartir código o pedir explicación en alguno de tus proyectos.</h5>
      <p class="card-text"><small class="text-muted">Bogotá, 2022</small></p>
    </div>
  </div>
</div>