<div class="container">
  <div class="card"> 
<div class="row" *ngFor="let v of ComunidadServ.documentos">
  <div class="col-lg-8">
    <a routerLink="/comentario/{{ v._id }}"
      class="text-decoration-none text-reset"
      ><h4 style="font-family: cursive;">{{ v.title }}</h4></a>
    <p class="long-text">
      {{ v.text.length >= 350 ? (v.text | slice: 0:350) + "..." : v.text }}
    </p>
    <span class="badge badge-pill badge-danger" style="font-family: cursive;text-align:center">{{ v.type }}</span>
  </div>
</div>

<div class="row">
  <div class="col-lg-8"></div>
  <div class="col-lg-2">
    <a routerLink="/crear"
      ><button type="button" class="btn btn-success btn-lg">+</button></a
    >
  </div>
</div>
</div>